@import "common.css";


/* Overwrite in common */
div#centerContainer{
	top: 50%;
	height: 60%;
	/*border: 2px solid green;*/
}
/* Overwrite in common */
div#buttonContainer{
	position: unset; /*For Chrome*/
	/*border: 2px solid red;*/
}

div#centerContainer p{
	font-size: 2rem;
	text-align: justify;
	/*border: 2px solid blue;*/
}